<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Edit order</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='edit_order.css') }}">

</head>
<body>
    <div class="top">
        <div class="logo">
            <img src="https://static.wixstatic.com/media/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.jpg/v1/fill/w_262,h_141,al_c,q_80,usm_0.66_1.00_0.01/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.webp" alt="logo"> <!--enter pic here-->

        </div>
        <div class="topnav">
            <a class="/home" href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/contact">Contact Us</a>
            <a href="https://www.facebook.com/PERU-CHEF-343922982353194/?ref=page_internal" class="fa fa-facebook"> Facebook</a>
            <a href="https://instagram.com/peruchefgroup?utm_medium=copy_link" class="fa fa-instagram"> Instagram</a>
            <a href="/login">Login</a>
        </div>

    </div>

    <h1>Edit order here</h1>
    <form action="/posts/{{post.id}}/update" method="POST">
        <p>Order: <input name="content" value="{{post.content}}"></p>
        <button type="submit">Edit Order</button>
    </form>
    <a href="/wall">Go Back</a>
    <a href="/logout">Logout</a>
</body>
</html>