<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peruchef/products/category1</title>
    <link rel="stylesheet" type="text/css" href="../static/category_style.css">
    <link rel="icon" type="image/png" href="https://static.wixstatic.com/media/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.jpg/v1/fill/w_262,h_141,al_c,q_80,usm_0.66_1.00_0.01/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.webp">


</head>

<body>
    <div class="container">
        <div class="top">
            <div class="logo">
                <img src="https://static.wixstatic.com/media/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.jpg/v1/fill/w_262,h_141,al_c,q_80,usm_0.66_1.00_0.01/cf3157_d885bc01dcf64f298694a5913d0678f9~mv2.webp"
                    alt="logo">
                <!--enter pic here-->

            </div>
            <div class="topnav">
                <a class="#active" href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/contact">Contact Us</a>
                <a href="https://www.facebook.com/PERU-CHEF-343922982353194/?ref=page_internal" class="fa fa-facebook">
                    Facebook</a>
                <a href="https://instagram.com/peruchefgroup?utm_medium=copy_link" class="fa fa-instagram">
                    Instagram</a>
                <!-- <a href="/login">Login</a> -->
            </div>
        </div>
        <h1>Grians</h1>
        <div class="product1">
            <div class="row1">
                <img src="../static/pictures/grians/purple_corn.png.png" alt="purple corn">
                <h2>PURPLE CORN</h2>
                <p>15oz</p>
            </div>
            <div class="row1">
                <img src="../static/pictures/grians/MAIZ CHULPE.png" alt="MAIZ CHULP">
                <h2>MAIZ CHULPE</h2>
                <p>15oz</p>
            </div>
            <div class="row1">
                <img src="../static/pictures/grians/MAIZ MOT.png" alt="maiz mote">
                <h2>MAIZ MOTE</h2>
                <p>15oz</p>

            </div>
            <div class="row1">
                <img src="../static/pictures/grians/MAIZ CANCHA.png" alt="maiz cancha">
                <h2>MAIZ CANCHA</h2>
                <p>15oz</p>
            </div>
        </div>
        
        <div class="product2">
            <div class="row2">
                <img src="../static/pictures/grians/yellow_dry_potato.png" alt="yellow dry potato">
                <h2>yellow dry potoato</h2>
                <p>15oz</p>
            </div>
            <div class="row2">
                <img src="../static/pictures/grians/dry_potato.png" alt="dry potato">
                <h2>dry potato</h2>
                <p>15oz</p>
            </div>
            <div class="row2">
                <img src="../static/pictures/grians/flax_seed.png" alt="flax seed">
                <h2>flax seed</h2>
                <p>15oz</p>
            </div>
            <div class="row2">
                <img src="../static/pictures/grians/black_quinoa.png" alt="black quinoa">
                <h2>black quinoa</h2>
                <p>15oz</p>
            </div>
            </div>
        </div>
    </div>
</body>

</html>